<mat-toolbar color="primary" class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Contacto</h3>
        <p>Email: videojuegos@tuempresa.com</p>
        <p>Teléfono: +123 456 7890</p>
      </div>
      <mat-divider vertical></mat-divider>
      <div class="footer-section">
        <h3>Navegación</h3>
        <mat-nav-list>
          <a mat-list-item href="#">Inicio</a>
          <a mat-list-item href="#">Acerca de: vendemos juegos viejos y modernos</a>
          <a mat-list-item href="#">Servicios</a>
          <a mat-list-item href="#">Contacto</a>
        </mat-nav-list>
      </div>
      <mat-divider vertical></mat-divider>
      <div class="footer-section">
        <h3>Síguenos:
            instagram<br>
            twitter <br>
            facebook
        </h3>
        <a mat-icon-button href="https://www.facebook.com" target="_blank">
          <mat-icon>facebook</mat-icon>
        </a>
        <a mat-icon-button href="https://www.twitter.com" target="_blank">
          <mat-icon>twitter</mat-icon>
        </a>
        <a mat-icon-button href="https://www.linkedin.com" target="_blank">
          <mat-icon>linkedin</mat-icon>
        </a>
      </div>
    </div>
  </mat-toolbar>
  <div class="footer-bottom">
    &copy; 2024 Tu Empresa. Todos los derechos reservados.
  </div>
  